config_file_profile    = "DEFAULT"
tenancy_ocid           = "XXXXX"
compartment_ocid       = "XXXXX"
ssh_public_key         = "XXXXX"
# https://developer.riotgames.com/
riotgames_api_key      = "XXXXX"
instant_client_lib_dir = "/usr/lib/oracle/21/client64/lib"